QSlider::groove:horizontal
{
    background-color:qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #ff0000, stop:0.17 #ffff00, stop:0.33 #00ff00, stop:0.50 #00ffff, stop:0.67 #0000ff, stop:0.83 #ff00ff, stop:1 #ff0000);
    height: 15px
}

QSlider::handle:horizontal
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #000000, stop:1 #8f8f8f);
    "width: 10px;
    "border: 1px solid #aaaaaa
} 
